:root {
    --color-dark: #141922;
    --color-dark-grey: #282828;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #717171;
    --color-light-grey: #c1c1c1;
    --color-highlight: #adff2f;
    --color-main-text: #7d7f84;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: var(--color-main-text);
}

img {
    display: block;
    width: 100%;
}

/* utility */
.debug {
    border: 1px solid var(--color-highlight);
    min-height: 20px;
}

.border-bottom-gray {
    border-bottom: 1px solid var(--color-main-text);
}

/* flex */
.d-flex {
    display: flex;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}
.justify-evenly{
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
    align-content: center;
}

.gap5 {
    gap: 5px;
}

/* dimension */
.vh-wrapper {
    height: 100vh;
    width: 100%;
}

.padding-ul-raw {
    padding: 5px 10px;
}

.padding-y10 {
    padding: 10px 0;
}
.circle-radius{
    border-radius: 50%;
    overflow: hidden;
}

/* backgrounds */
.bg-dark {
    background-color: var(--color-dark);
}

.bg-dark-grey {
    background-color: var(--color-dark-grey);
}

.bg-black {
    background-color: var(--color-black);
}

.bg-grey {
    background-color: var(--color-grey);
}

/* text */
.text-white {
    color: var(--color-white);
}

.text-uppercase {
    text-transform: uppercase;
}

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-smaller {
    font-size: 0.8em;
}
.xs-text{
    font-size: 0.8em;
}

/* top-bar */
.top-bar {
    width: calc(100% - 250px);
    height: 70px;
    background-color: #00000091;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 20px;
}
.btn{
    border: 1px solid var(--color-white);
    padding: 10px 30px;
    border-radius: 22px;
    transition: transform 0.2s;

}
.btn:hover{
    transform: scale(1.05);
    background-color: var(--color-dark-grey);
}

/* main */
main {
    height: calc(100% - 70px);
}

.main-content {
    width: calc(100% - 250px);
    height: 100%;
    padding: 80px 5px 0;
    overflow-y: auto;
}

#main-menu li {
    padding: 5px 10px;
    font-size: 0.8em;
    transition: all 0.35s;
}
#main-menu li:hover, #main-menu li.active{
    color: var(--color-white);
}
.under{
    width: 30px;
    height: 3px;
    margin: 0 auto;
    /* transition: all 0.35s; */
    
}
#main-menu li:hover .under, .active>.under {
    background-color: var(--color-highlight);
    animation-name: under-pulse;
    animation-duration: 0.5s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}

@keyframes under-pulse {
    from{
        background-color: #acff2f7a;
    }
    to{
        background-color: var(--color-highlight);
    }
}
.recently {
    padding: 0 5px;
}

.row {
    width: 100%;
}

.col {
    width: calc(100% / 6);
    padding: 20px 5px;
}

.subtitle {
    font-size: 0.7em;
}
.main-content .img-container{
    position: relative;
    cursor: pointer;
}


.play-btn{
    display:none;
    font-size: 2em;
    transition: all 2s;
}
.play-btn>div.d-flex{
    height: 100%;
}
.img-container:hover .play-btn{
    background-color:#00000088;
    color: #ffffff;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.play-btn i:hover{
    text-shadow: 0 0 10px white;
    transform: scale(1.05);
}

/* .title-section{
    font-weight: ;
} */

/* .side-bar */
.side-bar {
    width: 250px;
    height: 100%;
    padding: 20px 20px 0;
    overflow: hidden;
    /* position: relative; */
    /* position: fixed;
    left: 0;
    top: 0; */
}
.side-bar-top{
    height: calc(100% - 70px);
}

.side-bar li {
    padding: 8px 0;
}
.play-list {
    overflow-y: auto;
}

.logo-container {
    width: 150px;
}

.logo-small {
    width: 30px;
    display: none;
    margin: 0 auto;
}
.icon-center>.img-container{
    width: 25px;
    color: #adff2f;
}
.sidebar .img-container>img{
    filter: invert(50%);
}

.align-inline {
    vertical-align: middle;
}

.img-install {
    width: 20px;
    display: inline-block;
}

.img-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.side-bar-bottom {
    background-color: var(--color-black);
    height: 70px;
    position: relative;
    z-index: 10;
}
.side-bar-bottom>div:first-child{
    padding-bottom: 5px;
}
.side-bar-bottom>div:last-child{
    padding-top: 5px;
}

.side-bar li:hover,
.add-playlist:hover {
    border-left: 5px solid var(--color-highlight);
    margin-left: -18px;
    padding-left: 13px;
    color: var(--color-white);
}
.side-bar  li:hover .img-container>img{
    filter: unset;
}

/* play-bar */
.play-bar {
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
}
/* left */
.left{
    width: 250px;
}
.cover-container{
    width: 30%;
    margin: 0 10px;
}
.title-playng{
    width: 70%;
}
.wish>div{
    padding: 0 5px;
}
.on-plaing{
    width: 60%;
}
.wish{
    width: 20%;
    
}
.wish>.i-heart:hover{
    color: red;
    text-shadow: 0 0 5px red;
    cursor: pointer;
}
.wish>.i-folder:hover{
     color: goldenrod;
     text-shadow: 0 0 5px goldenrod;
     cursor: pointer;
}
/* center */
.center{
    width: 40%;
}
.audio-controls{
    width: 100%;
}
.audio-controls>div{
    width: 50px;
    /* padding:5px 20px; */
    cursor: pointer;
}
.audio-controls>div:nth-child(3){
    margin: 0 10px;
}
.audio-controls>div:hover i, .right>div>div:hover i{
    text-shadow: 0 1px 4px white;
    transform: scale(1.1);
}
.time-bar{
    width: 80%;
}

/* right */
.right{
    width: 250px;
    padding: 10px;
}
.right>div{
    width: 100%;
    height: 100%;
}
.vol-container{
    width: 55%;
}
.volume-bar{
    width: 100%;
}

/* MEDIA QUERIES */

/* height */

@media screen and (max-height:636px) {
    /* .side-bar{
        height:calc(100vh - 70px);
    } */
    .play-list ul{
        overflow-y: auto;
    }
    .play-list ul{
        height: calc(40vh - 70px)
    }
    
}
@media screen and (max-height:300px) {
    .side-bar-bottom{
        display: none;
    }
    
}

/* desktop */

@media screen and (max-width:1200px) {
    .col {
        width: calc(100% / 4);
    }

    .row {
        flex-wrap: wrap;
    }

    #main-menu ul {
        flex-wrap: wrap;
    }
}

/* tablet */

@media screen and (max-width:848px) {
    .col {
        width: calc(100% / 2);
    }
    .left, .center, .right{
        width: calc(100% / 3);
        padding: 0 2px;
    }
    .wish{
        flex-direction: column;
        justify-content: center;
    }
}

/* mobile */

@media screen and (max-width:660px) {
    .side-bar {
        width: 80px;
        display: flex;
        flex-flow: column;
        align-content: center;
        align-items: center;
    }
    .center {
        width: 60%;
        margin: 0 auto;
    }
    .play-list {
        display: none;
    }

    .d-none {
        display: none
    }

    .d-block {
        display: block;
    }
    .border-bottom-gray{
        border: none;
    }

    .p-absolute-bottom {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

    }
    .top-bar {
        width: calc(100% - 80px);
    }

    .main-content {
        width: calc(100% - 80px);
    }

}

@media screen and (max-width:500px) {
    .col {
        width: 100%;
    }

}