:root {
    --color-dark: #141922;
    --color-dark-grey: #282828;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #717171;
    --color-light-grey: #c1c1c1;
    --color-highlight: #adff2f;
    --color-main-text: #7d7f84;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: var(--color-main-text);
}

img {
    display: block;
    width: 100%;
}

/* utility */
.debug {
    border: 1px solid var(--color-highlight);
    min-height: 20px;
}

.border-bottom-gray {
    border-bottom: 1px solid var(--color-main-text);
}

/* flex */
.d-flex {
    display: flex;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
    align-content: center;
}

.gap5 {
    gap: 5px;
}

/* dimension */
.vh-wrapper {
    height: 100vh;
    width: 100%;
}

.padding-ul-raw {
    padding: 5px 10px;
}

.padding-y10 {
    padding: 10px 0;
}
.circle-radius{
    border-radius: 50%;
    overflow: hidden;
}

/* backgrounds */
.bg-dark {
    background-color: var(--color-dark);
}

.bg-dark-grey {
    background-color: var(--color-dark-grey);
}

.bg-black {
    background-color: var(--color-black);
}

.bg-grey {
    background-color: var(--color-grey);
}

/* text */
.text-white {
    color: var(--color-white);
}

.text-uppercase {
    text-transform: uppercase;
}

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-smaller {
    font-size: 0.8em;
}
.xs-text{
    font-size: 0.8em;
}

/* top-bar */
.top-bar {
    width: calc(100% - 250px);
    height: 70px;
    background-color: #00000091;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 20px;
}
.btn{
    border: 1px solid var(--color-white);
    padding: 10px 30px;
    border-radius: 22px;
    transition: transform 0.2s;

}
.btn:hover{
    transform: scale(1.05);
    background-color: var(--color-dark-grey);
}

/* main */
main {
    height: calc(100% - 70px);
}

.main-content {
    width: calc(100% - 250px);
    height: 100%;
    padding: 80px 5px 0;
    overflow-y: auto;
}

#main-menu li {
    padding: 5px 10px;
    font-size: 0.8em;
}

.recently {
    padding: 0 5px;
}

.row {
    width: 100%;
}

.col {
    width: calc(100% / 6);
    padding: 20px 5px;
}

.subtitle {
    font-size: 0.7em;
}

/* .title-section{
    font-weight: ;
} */

/* .side-bar */
.side-bar {
    width: 250px;
    height: 100%;
    padding: 20px;
    position: relative;
    /* position: fixed;
    left: 0;
    top: 0; */
}

.side-bar li {
    padding: 8px 0;
}
.play-list ul{
    overflow-y: auto;
}

.logo-container {
    width: 150px;
}

.logo-small {
    width: 30px;
    display: none;
    margin: 0 auto;
}

.align-inline {
    vertical-align: middle;
}

.img-install {
    width: 20px;
    display: inline-block;
}

.img-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.p-absolute-bottom {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    padding: 20px;
}

.side-bar li:hover,
.add-playlist:hover {
    border-left: 5px solid var(--color-highlight);
    margin-left: -18px;
    padding-left: 13px;
    color: var(--color-white);
}

/* play-bar */
.play-bar {
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
}
/* left */
.left{
    max-width: 250px;
}
.cover-container{
    width: 30%;
    margin: 0 10px;
}
.title-playng{
    width: 70%;
}
.wish>div{
    padding: 0 5px;
}
.on-plaing{
    width: 60%;
}
.wish{
    width: 20%;
}
/* center */
.center{
    width: 40%;
}
.audio-controls>div{
    padding:5px 20px;
    cursor: pointer;
}
.audio-controls>div:hover i{
    box-shadow: 0 1px 4px white;
}
.time-bar{
    width: 80%;
}

/* right */
.right{
    max-width: 250px;
}

/* MEDIA QUERIES */

/* desktop */

@media screen and (max-width:1200px) {
    .col {
        width: calc(100% / 4);
    }

    .row {
        flex-wrap: wrap;
    }

    #main-menu ul {
        flex-wrap: wrap;
    }
}

/* tablet */

@media screen and (max-width:848px) {
    .col {
        width: calc(100% / 2);
    }
}

/* mobile */

@media screen and (max-width:660px) {
    .side-bar {
        width: 80px;
        display: flex;
        flex-flow: column;
        align-content: center;
        align-items: center;
    }

    .play-list {
        display: none;
    }

    .d-none {
        display: none
    }

    .d-block {
        display: block;
    }

    .p-absolute-bottom {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

    }

    /* .icon-center{
        margin: 0 auto;
        text-align: center;
    } */
    .top-bar {
        width: calc(100% - 80px);
    }

    .main-content {
        width: calc(100% - 80px);
    }

}

@media screen and (max-width:500px) {
    .col {
        width: 100%;
    }

}